@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
